$headerColor: #1a2733;
$sectionTitle: #3c3c3c;
$lightGrey: #dddbdb;
$tomato: #e9573f;
$memberSocials: #f08c7c;

.center {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

@keyframes downArrow {
	0% {opacity: 1; padding-top: 0;} 
	60% {opacity: 0; padding-top: 20px;}
	100% {opacity: 0; padding-top: 20px;}
}

